<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <system.web>
    <!-- BCBG: normally "false" - can set debug=true for testing or finding errors but make sure false for normal operation -->
    <!-- version on pc can stay false but server version should always be true unless troubleshooting -->
    <!-- also have to change customErrors mode below to "Off" for troubleshooting -->
    <compilation debug="true" tempDirectory="D:\Inetpub\vhosts\fig4.com\tmp">
      <assemblies>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <!-- establishes authentication for restricted folders -->
    <authentication mode="Forms">
      <forms name=".aspxauth" loginUrl="login.aspx">
        <credentials passwordFormat="Clear">
          <!-- multiple username/password combinations can be used -->
          <user name="johnyuill" password="curlew" />
        </credentials>
      </forms>
    </authentication>
    <!-- 
        customErrors Attributes:
          mode="[On|Off|RemoteOnly]"
            On: Always display custom errors
            Off: Always display ASP.NET error pages
            RemoteOnly: Display custom errors to remote clients and ASP.NET errors to localhost
          defaultRedirect="<url>" - Url to redirect client to when an error occurs
          
		  BCBG: normally "RemoteOnly"
		  BCBG: set to "Off" only for testing or fixing problems on remote server
  -->
    <customErrors defaultRedirect="bcbgerror.aspx" />
    <!-- BCBG: for FreeTextBox -->
    <httpHandlers>
      <add verb="GET" path="FtbWebResource.axd" type="FreeTextBoxControls.AssemblyResourceHandler, FreeTextBox">
      </add>
    </httpHandlers>
  </system.web>
  <appSettings>
    <!-- This connection can be used on any page - 3 parts needed because 
			+Request.PhysicalApplicationPath+ goes in between and cannot be combined. 
			Benefit is file name and location in one place
	 -->
    <add key="strConfig1" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=" />
    <add key="strConfig2x" value="Request.PhysicalApplicationPath" />
    <add key="strConfig2" value="_private\breweries.mdb" />
    <!-- Code on page is:
		Public Dim 	strConn as String = ConfigurationSettings.AppSettings("strConfig1")
				strConn+= ConfigurationSettings.AppSettings("strConfig2")
				strConn+= ConfigurationSettings.AppSettings("strConfig3")
		Dim objConn as New OleDbConnection(strConn)   
	-->
  </appSettings>
  <connectionStrings>
    <add name="strConnection1" connectionString="Data Source=sqlserver8.loosefoot.com;Initial Catalog=Breweries2;Integrated Security=False; User Id=bcbeertest;Password=curlew;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.webServer>
    <handlers>
      <remove name="PHP53_via_FastCGI" />
      <remove name="PHP54_via_FastCGI" />
      <remove name="PHP55_via_FastCGI" />
      <remove name="php-5.2.17" />
      <add name="FtbWebResource.axd_GET" path="FtbWebResource.axd" verb="GET" type="FreeTextBoxControls.AssemblyResourceHandler, FreeTextBox" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="*.xoml_*" path="*.xoml" verb="*" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="*.svc_*" path="*.svc" verb="*" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="*.asmx_*" path="*.asmx" verb="*" type="System.Web.Services.Protocols.WebServiceHandlerFactory, System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="*.rem_*" path="*.rem" verb="*" type="System.Runtime.Remoting.Channels.Http.HttpRemotingHandlerFactory, System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="*.soap_*" path="*.soap" verb="*" type="System.Runtime.Remoting.Channels.Http.HttpRemotingHandlerFactory, System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode,runtimeVersionv2.0" />
    </handlers>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
    <modules>
      <remove name="ScriptModule-4.0" />
      <remove name="UrlRoutingModule-4.0" />
      <add name="ErrorHandlerModule" type="System.Web.Mobile.ErrorHandlerModule, System.Web.Mobile, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>