vti_encoding:SR|utf8-nl
vti_restartmanual:IX|0
vti_webservertype:SR|msiis
vti_usagebymonth:UX|4940 8419 7754 76 6444 7558 7484 6377 5087 47
vti_usagevisitsbyweek:UX|3256 1821 2227 2226 2711
vti_usernames:VR|
vti_timecreated:TR|08 May 2002 23:33:21 -0000
vti_oldestcompatibleversion:SR|2.0.0.0
vti_usagelastformat:SX|1 3 4 G 
vti_usagevisitsbymonth:UX|4933 8411 7743 76 6443 7526 7457 6377 5086 47
vti_usagelastupdated:TX|12 Mar 2006 05:59:59 -0000
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_textindexood:IR|0
vti_usagevisitsbyday:UX|271 362 345 1093 276 390 519 304
vti_approvallevels:VR|Approved Denied Pending\\ Review
vti_hassearchbot:BR|false
vti_dependenciesood:IR|0
vti_usagelastmarker:SX|1358869 1358997 2006-03-12 05:47:05 65.54.188.134 GET /BreweryCommentv.aspx 200 5913 HTTP/1.0 m
vti_usagefirstdata:TX|30 Jun 2005 06:00:00 -0000
vti_usagebyweek:UX|3260 1824 2227 2231 2714
vti_usagebyday:UX|271 362 345 1093 277 393 519 304
vti_usagehitsbymonth:UX|6715 12807 12489 133 10799 12124 11838 11013 8604 91
vti_usagehitsbyweek:UX|4411 2506 3391 3444 3925
vti_usagehitsbyday:UX|367 554 522 1246 467 620 635 380
vti_featurelist:VX|vti_ACCreateNewUsers vti_ACChangePassword vti_ACNoUserGroup vti_ACCreateNewGroups vti_ACModifyGroups vti_ServiceMarkUrlDirExec vti_ACIPAddresses vti_TimedDocEvents
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
vti_usagelastlog:SX|e:\\web\\public_html\\figure4\\logs\\w3svc838\\ex0603.log
vti_approvalapproved:SR|Approved
vti_approvaldenied:SR|Denied
vti_defaultcharset:SR|windows-1252
vti_autorecalc:IX|1
vti_disableautoimgsizeexts:SX|.asp
vti_createpostinfo:BX|false
vti_extenderversion:SR|5.0.2.2623
vti_usageserverlastupdated:TX|12 Mar 2006 05:59:59 -0000
vti_usagedownload:UX|69114 140406 142278 1123 125296 127009 127318 112796 89139 1117
