<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
<system.web>
	<compilation debug="true" />
  <!-- creates need for authorization to access files in folder where this file reside -->
	<authorization>
		<deny users="?" />
	</authorization>
  
	<!-- 
        customErrors Attributes:
          mode="[On|Off|RemoteOnly]"
            On: Always display custom errors
            Off: Always display ASP.NET error pages
            RemoteOnly: Display custom errors to remote clients and ASP.NET errors to localhost
          defaultRedirect="url" - Url to redirect client to when an error occurs
  --> 
  	<customErrors mode="Off" defaultRedirect="../bcbgerror.aspx" />
  
</system.web>
</configuration>

	