vti_encoding:SR|utf8-nl
vti_author:SR|SERVER98\\Administrator
vti_modifiedby:SR|SERVER98\\Administrator
vti_timelastmodified:TR|17 Mar 2005 17:01:43 -0000
vti_timecreated:TR|17 Mar 2005 17:01:43 -0000
vti_cacheddtm:TX|17 Mar 2005 17:01:43 -0000
vti_filesize:IR|1784
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{1E735A13-BC70-47FE-A799-5FCAFDF41568}
vti_backlinkinfo:VX|_layouts/PRJSETNG.HTM _layouts/SETTINGS.HTM _layouts/SURVEDIT.HTM _layouts/VIEWLSTS.HTM _layouts/CREATE.HTM _layouts/USERDISP.HTM _layouts/USERINFO.HTM _layouts/VIEWNEW.HTM _layouts/FILEDLG.HTM _layouts/FLDNEW.HTM _layouts/NEWSUBS.HTM _layouts/DISCDOC.HTM _layouts/DISCUSNS.HTM _layouts/FLDEDIT.HTM _layouts/HOMECHGE.HTM _layouts/LISTEDIT.HTM _layouts/QSTEDIT.HTM _layouts/QSTNEW.HTM _layouts/USEREDIT.HTM _layouts/ALLLIBS.HTM _layouts/FORMEDT.HTM _layouts/NEW.HTM _layouts/ERROR.HTM _layouts/LSTSETNG.HTM _layouts/TMPLDLG.HTM _layouts/VIEWEDIT.HTM
