vti_encoding:SR|utf8-nl
vti_author:SR|SERVER98\\Administrator
vti_modifiedby:SR|SERVER98\\Administrator
vti_timelastmodified:TR|17 Mar 2005 17:01:43 -0000
vti_timecreated:TR|17 Mar 2005 17:01:43 -0000
vti_cacheddtm:TX|17 Mar 2005 17:01:43 -0000
vti_filesize:IR|7923
vti_cachedlinkinfo:VX|S|../images/bluedot.gif
vti_cachedsvcrellinks:VX|FSUS|_layouts/images/bluedot.gif
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{35E7279C-4041-47BE-9916-6200B04AA2CE}
vti_backlinkinfo:VX|
