vti_encoding:SR|utf8-nl
vti_hascollabbots:BR|true
vti_author:SR|SERVER98\\Administrator
vti_modifiedby:SR|SERVER98\\Administrator
vti_timelastmodified:TR|17 Mar 2005 17:01:43 -0000
vti_timecreated:TR|17 Mar 2005 17:01:43 -0000
vti_shadowfiles:VX|
vti_cacheddtm:TX|17 Mar 2005 17:01:44 -0000
vti_filesize:IR|6415
vti_cachedtitle:SR|Document Libraries
vti_cachedbodystyle:SR|<BODY marginwidth=0 marginheight=0 scroll="yes">
vti_cachedlinkinfo:VX|S|../_vti_bin/owsbrows.js Q|styles/ows.css D|styles/owsmac.css S|images/logo.gif S|images/tpdl.gif S|images/blank.gif S|images/blank.gif S|images/blank.gif S|images/blank.gif H|new.htm S|images/newdl.gif H|new.htm S|images/blank.gif S|images/blank.gif
vti_cachedsvcrellinks:VX|FSUS|_vti_bin/owsbrows.js FQUS|_layouts/styles/ows.css FDUS|_layouts/styles/owsmac.css FSUS|_layouts/images/logo.gif FSUS|_layouts/images/tpdl.gif FSUS|_layouts/images/blank.gif FSUS|_layouts/images/blank.gif FSUS|_layouts/images/blank.gif FSUS|_layouts/images/blank.gif FHUS|_layouts/new.htm FSUS|_layouts/images/newdl.gif FHUS|_layouts/new.htm FSUS|_layouts/images/blank.gif FSUS|_layouts/images/blank.gif
vti_cachedneedsrewrite:BR|true
vti_cachedhasbots:BR|true
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|true
vti_botnavbits:SW|
vti_botlinkbars:VW|S|sid:1002
vti_botnavbarthemes:VR|
vti_botlistviews:VX|DocLibs\nLists
vti_botnavbarfeatures:VR|h s
vti_themeaggregate:SR|default
vti_borderaggregate:SR|default
vti_metatags:VR|GENERATOR Microsoft\\ SharePoint ProgId FrontPage.Editor.Document HTTP-EQUIV=Content-Type text/html;\\ charset=utf-8
vti_charset:SR|utf-8
vti_progid:SR|FrontPage.Editor.Document
vti_generator:SR|Microsoft SharePoint
vti_title:SR|Document Libraries
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{CBD92038-E320-4517-8296-35ABE7FA1B6C}
vti_backlinkinfo:VX|
