vti_encoding:SR|utf8-nl
vti_hascollabbots:BR|true
vti_author:SR|SERVER98\\Administrator
vti_modifiedby:SR|SERVER98\\Administrator
vti_timelastmodified:TR|17 Mar 2005 17:01:43 -0000
vti_timecreated:TR|17 Mar 2005 17:01:43 -0000
vti_cacheddtm:TX|17 Mar 2005 17:01:45 -0000
vti_filesize:IR|4386
vti_cachedtitle:SR|Microsoft SharePoint
vti_cachedbodystyle:SR|<BODY topmargin=5 leftmargin=5 scroll=no serverType=OWS      onload="checkScroll()" onresize="checkScroll()">
vti_cachedlinkinfo:VX|S|../_vti_bin/owsbrows.js Q|styles/ows.css S|TMPLDLG.HTM D|styles/owsmac.css S|images/blank.gif
vti_cachedsvcrellinks:VX|FSUS|_vti_bin/owsbrows.js FQUS|_layouts/styles/ows.css FSUS|_layouts/TMPLDLG.HTM FDUS|_layouts/styles/owsmac.css FSUS|_layouts/images/blank.gif
vti_cachedneedsrewrite:BR|true
vti_cachedhasbots:BR|true
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_botlistviews:VX|FileDialogViewTemplates\nLists
vti_themeaggregate:SR|default
vti_metatags:VR|GENERATOR Microsoft\\ SharePoint ProgId FrontPage.Editor.Document HTTP-EQUIV=Content-Type text/html;\\ charset=utf-8
vti_charset:SR|utf-8
vti_progid:SR|FrontPage.Editor.Document
vti_generator:SR|Microsoft SharePoint
vti_title:SR|Microsoft SharePoint
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{0300C614-6FC5-43BB-B2B5-E9F9C9D0EF24}
vti_backlinkinfo:VX|_layouts/TMPLDLG.HTM
