vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|01 Dec 2005 11:58:50 -0000
vti_extenderversion:SR|5.0.2.6790
vti_usagebymonth:UX|64 171 187 11
vti_usagebyweek:UX|41 25 39 58 46
vti_usagebyday:UX|5 6 13 4 8 4 1 3
vti_usagelastupdated:TX|12 Mar 2006 05:59:59 -0000
vti_usagetotalhits:IX|433
vti_cacheddtm:TX|29 Mar 2007 00:34:04 -0000
vti_filesize:IR|658
vti_lineageid:SR|{9F149671-6BCE-4F80-A329-F1048C251B5B}
vti_backlinkinfo:VX|
