vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|29 May 2005 06:34:40 -0000
vti_extenderversion:SR|5.0.2.6790
vti_usagebymonth:UX|463 1151 1107 15 1073 1166 1100 1312 1022 12
vti_usagebyweek:UX|296 181 328 311 295
vti_usagebyday:UX|23 59 45 33 53 53 30 14
vti_usagelastupdated:TX|12 Mar 2006 05:59:59 -0000
vti_usagetotalhits:IX|8421
vti_cacheddtm:TX|29 Mar 2007 00:34:06 -0000
vti_filesize:IR|12721
vti_lineageid:SR|{F9A295AC-74F9-473C-9A19-9B1290C16989}
vti_backlinkinfo:VX|links.aspx NavTemplate.aspx brewpubs.htm news\\ archive.htm viewpicture.aspx brewerydatatest.aspx festive2001.htm oldnews.aspx brewerycomment2.aspx template.aspx brewery.htm LINKS.HTM NEWS.HTM festive.htm
