vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|31 May 2007 20:21:19 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{ECCC00B2-1503-4BC4-B2EF-E4BE183F64BB}
vti_backlinkinfo:VX|
vti_author:SR|SERVER18\\Administrator
vti_modifiedby:SR|SERVER18\\Administrator
vti_nexttolasttimemodified:TW|31 May 2007 20:19:47 -0000
vti_timecreated:TR|31 May 2007 20:19:47 -0000
vti_cacheddtm:TX|31 May 2007 20:21:19 -0000
vti_filesize:IR|2256
